.top-black-banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 21rem;
    background-color: var(--black-light);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.content{
    width: 100%;
    margin-top: 21rem;
}

.categoryTitle{
    position: relative;
    color: var(--white-light);
    transform: translateY(50px);
}

.item-preview-card{
    display: flex;
    gap: 8rem;
    margin-bottom: 5rem;

}

.item-preview-img{
    width: 538px;
    height: 528px;
    flex-shrink: 0;
    background-color: var(--white-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}




.item-preview-content{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    max-width: 445px;
    gap: 2rem;
} 

/* Reverse layout for desktop only */
@media (min-width: 75rem) { 
    .item-flex-reverse {
        flex-direction: row-reverse;
    }
}


/* Tablet Design*/

@media(max-width: 75rem){
    .item-preview-card{
        flex-direction: column;
        gap: 2rem;
    }
    .item-preview-img{
        width: 100%;
        height: 352px;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-preview-content{
        align-items: center;
        text-align: center;
        margin: auto;
        gap: 1.5rem;
    }
    .item-preview-content p{
        width: 572px;
    }


}





/* Mobile Design*/
@media(max-width: 40rem){
    .top-black-banner{
        height: 12rem;
    }
    .categoryTitle{
        font-size: 28px;
    }
    .item-preview-content h2{
        font-size: 28px;
    }
    .item-preview-content{
        max-width: 327px;

    }
    .content{
        margin-top: 11rem;
    }

}
